@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  cursor: none; /* Hide default cursor */
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Custom circular cursor */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px; /* Circle diameter */
  height: 20px; /* Circle diameter */
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.5); /* Faint white outline */
  outline: 0.6px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  pointer-events: none; /* Prevent blocking clicks */
  z-index: 9999; /* Ensure it's always on top */
  transform: translate(-50%, -50%); /* Center the circle on the cursor */
  box-shadow: 0 15px 35px rgba(0,0,0,0.4), 0 12px 22px rgba(0, 0, 0, 0.3);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  opacity: 0.8;
}

a:hover {
  cursor: none;
  opacity: 1;
}

li {
  position: relative;
  width: 100%;
  padding-left: 35px;
  text-indent: -35px;
  margin-bottom: 16px;
  line-height: 130%;
}

@font-face {
  font-family: 'Cooper Black';
  src: url('/fonts/COOPBL.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Radio Grotesk';
  src: url('/fonts/RadioGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Radio Grotesk';
  src: url('/fonts/RadioGrotesk-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Supply';
  src: url('/fonts/Supply-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.drop-cap:first-letter {
  font-size: 300%;
  float: left;
  margin-right: 0.1em;
  line-height: 0.9;
  font-family: 'Cooper Black';
}
